  <div class="wrapper" id="shuffle">
    <div class="intro-alt" style="background-image: url(<%= image_url 'client/temp/intro-library-playlist.jpg' %>);">
      <div class="container">
        <div class="intro__head intro__head--alt">
          <h1>
            Library
          </h1>

          <div class="intro__icons">
            <ul class="list-icons">
              <li>
                <a href="#">
                  <i class="icon-play"></i>
                </a>
              </li>
              
              <li id="shuffle_15">
                <a>
                  <i class="icon-two-arrows"></i>
                </a>
              </li>
              
              <li>
                <a href="#">
                  <i class="icon-plus"></i>
                </a>
              </li>
            </ul><!-- /.list-icons -->
          </div><!-- /.intro__icons -->
        </div><!-- /.intro__head -->

        <div class="intro__body">
          <ul class="list-btns">
            <li>
              <a href="/client/my_playlists" class="btn btn--block ajaxLink">My Playlists</a>
            </li>
            
            <li>
              <a href="/client/artist/index" class="btn btn--block current ajaxLink">Artists</a>
            </li>
            
            <li>
              <a href="/client/songs/all_songs" class="btn btn--block ajaxLink">All Songs</a>
            </li>
          </ul><!-- /.list-btns -->
        </div><!-- /.intro__body -->
      </div><!-- /.container -->
    </div><!-- /.intro-alt -->

    <div class="section-ordinary decoration-dark-gradient  pb-5 mb-5">
      <div class="container">
        <div class="section__body">
          <div class="row">
            <% @artists.each do |artist| %>
              <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                <div class="artist">
                  <div class="artist__image">
                    <a href="<%= artist_overview_client_artist_path(artist.id) %>" class="ajaxLink">
                    <img src="<%= artist_cover(artist) %>" alt="">
                  </div><!-- /.artist__image -->

                  <div class="artist__name">
                    <p>
                      <%= link_to "#{artist.name}", artist_overview_client_artist_path(artist.id) %>
                    </p>
                  </div><!-- /.artist__name -->
                </div><!-- /.artist -->
              </div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->
            <% end %>

          </div><!-- /.row -->
        </div><!-- /.section__body -->
      </div><!-- /.container -->
    </div><!-- /.section-ordinary decoration-dark-gradient -->
  </div><!-- /.wrapper -->

  <script type="text/javascript" charset="utf-8">
    $("#shuffle_15").click(function () {
        $.ajax({
            data : { shuffle : true },
            url: '/client/artist/index',
            success: function(res){
                $("#shuffle").html(res)
            }
        })
    });
  </script>
