<div class="wrapper">
		<header class="header header--absolute">
	
	<div class="menu">
		<div class="menu-close">
			<span></span>
			
			<span></span>
		</div><!-- /.menu-close -->

		<nav class="nav">
			<ul>
				<li>
					<a href="#">Home</a>
				</li>
				
				<li>
					<a href="#">Events</a>
				</li>
				
				<li>
					<a href="#">Profile</a>
				</li>
				
				<li class="has-dropdown">
					<a href="#">Library</a>

					<nav class="nav-dropdown">
						<ul>
							<li>
								<a href="#">Artists</a>
							</li>
							
							<li>
								<a href="#">Albums</a>
							</li>
							
							<li>
								<a href="#">Songs</a>
							</li>
							
							<li>
								<a href="#">Playlists</a>
							</li>
							
							<li>
								<a href="#">Session</a>
							</li>
						</ul>
					</nav><!-- /.nav-dropdown -->
				</li>
				
				<li class="has-dropdown">
					<a href="#">Suggestions</a>

					<nav class="nav-dropdown">
						<ul>
							<li>
								<a href="#">Favorites</a>
							</li>
							
							<li>
								<a href="#">Top Songs</a>
							</li>
							
							<li>
								<a href="#">Top Playlists</a>
							</li>
							
							<li>
								<a href="#">Top Community</a>
							</li>
						</ul>
					</nav><!-- /.nav-dropdown -->
				</li>
				
				<li>
					<a href="#">Settings</a>
				</li>
				
				<li>
					<a href="#">Logout</a>
				</li>
			</ul>
		</nav><!-- /.nav -->
	</div><!-- /.menu -->
</header><!-- /.header -->
		<div class="intro-alt" style="background-image: url(<%= image_url 'client/temp/intro-overview.jpg' %>);">
			<div class="container">
				<div class="intro__head">
					<h1>
						Greta Van Fleet
					</h1>
				</div><!-- /.intro__head -->

				<div class="intro__body">
					<ul class="list-btns">
						<li>
							<a href="#" class="btn btn--block current">Overview</a>
						</li>
						
						<li>
							<a href="#" class="btn btn--block">Albums</a>
						</li>
						
						<li>
							<a href="#" class="btn btn--block">Top Songs</a>
						</li>
						
						<li>
							<a href="#" class="btn btn--block">Playlists</a>
						</li>
					</ul><!-- /.list-btns -->
				</div><!-- /.intro__body -->
			</div><!-- /.container -->
		</div><!-- /.intro-alt -->

		<section class="section-ordinary decoration-dark-gradient">
			<div class="container">
				<header class="section__head">
					<h3>
						Top Albums
					</h3>
				</header><!-- /.section__head -->

				<div class="section__body">
					<div class="tiles slider-top-albums">
						<div class="tile">
							<div class="tile__inner">
								<div class="tile__image tile__image--square tile__image--empty">
									<a href="#">
									</a>
								</div><!-- /.tile__image tile__image--square -->
							</div><!-- /.tile__inner -->
						</div><!-- /.tile -->

						<div class="tile">
							<div class="tile__inner">
								<div class="tile__image tile__image--square tile__image--empty">
									<a href="#">
									</a>
								</div><!-- /.tile__image tile__image--square -->
							</div><!-- /.tile__inner -->
						</div><!-- /.tile -->

						<div class="tile">
							<div class="tile__inner">
								<div class="tile__image tile__image--square tile__image--empty">
									<a href="#">
									</a>
								</div><!-- /.tile__image tile__image--square -->
							</div><!-- /.tile__inner -->
						</div><!-- /.tile -->

						<div class="tile">
							<div class="tile__inner">
								<div class="tile__image tile__image--square tile__image--empty">
									<a href="#">
									</a>
								</div><!-- /.tile__image tile__image--square -->
							</div><!-- /.tile__inner -->
						</div><!-- /.tile -->

						<div class="tile">
							<div class="tile__inner">
								<div class="tile__image tile__image--square tile__image--empty">
									<a href="#">
									</a>
								</div><!-- /.tile__image tile__image--square -->
							</div><!-- /.tile__inner -->
						</div><!-- /.tile -->

						<div class="tile">
							<div class="tile__inner">
								<div class="tile__image tile__image--square tile__image--empty">
									<a href="#">
									</a>
								</div><!-- /.tile__image tile__image--square -->
							</div><!-- /.tile__inner -->
						</div><!-- /.tile -->

						<div class="tile">
							<div class="tile__inner">
								<div class="tile__image tile__image--square tile__image--empty">
									<a href="#">
									</a>
								</div><!-- /.tile__image tile__image--square -->
							</div><!-- /.tile__inner -->
						</div><!-- /.tile -->

						<div class="tile">
							<div class="tile__inner">
								<div class="tile__image tile__image--square tile__image--empty">
									<a href="#">
									</a>
								</div><!-- /.tile__image tile__image--square -->
							</div><!-- /.tile__inner -->
						</div><!-- /.tile -->

						<div class="tile">
							<div class="tile__inner">
								<div class="tile__image tile__image--square tile__image--empty">
									<a href="#">
									</a>
								</div><!-- /.tile__image tile__image--square -->
							</div><!-- /.tile__inner -->
						</div><!-- /.tile -->

						<div class="tile">
							<div class="tile__inner">
								<div class="tile__image tile__image--square tile__image--empty">
									<a href="#">
									</a>
								</div><!-- /.tile__image tile__image--square -->
							</div><!-- /.tile__inner -->
						</div><!-- /.tile -->
					</div><!-- /.tiles -->
				</div><!-- /.section__body -->
			</div><!-- /.container -->
		</section><!-- /.section-ordinary decoration-dark-gradient -->

		<div class="section-ordinary">
			<div class="container">

				<header class="section__head">
					<h3>
						Top Songs
					</h3>
				</header><!-- /.section__head -->
				
				<div class="section__body">
					<div class="songs">
						<div class="song__cols">
							<div class="song__col">
								<div class="song">
									<div class="song__body">
										<div class="song__image">
											<a href="#">
												<i class="icon-play"></i>
											</a>
										</div><!-- /.song__image -->

										<div class="song__content">
											<p>
												<strong>
													Song name
												</strong>
											</p>
											
											<p class="song__name">
												Greta Van Fleet – Black Smoke Rising
											</p>
											
											<p>
												Rock <span>&middot;</span> 3:25
											</p>
										</div><!-- /.song__content -->
									</div><!-- /.song__body -->
									
									<div class="song__actions">
										<div class="song__dots">
											<span></span>
											
											<span></span>
											
											<span></span>
										</div><!-- /.song__dots -->

										<ul class="song__icons">
											<li>
												<a href="#">
													<i class="icon-two-arrows"></i>
												</a>
											</li>
											
											<li class="has-dropdown">
												<a href="#" class="js-trigger">
													<i class="icon-plus"></i>
												</a>

												<ul class="song__dropdown">
													<li>
														<a href="#">Add to Playlist</a>
													</li>
													
													<li>
														<a href="#">New Playlist</a>
													</li>
													
													<li>
														<a href="#">Add to Sessions</a>
													</li>
												</ul><!-- /.song__dropdown -->
											</li>
											
											<li>
												<a href="#">
													<i class="icon-hearth"></i>
												</a>
											</li>
											
											<li>
												<a href="#">
													<i class="icon-logo-btn"></i>
												</a>
											</li>
										</ul><!-- /.song__icons -->
									</div><!-- /.song__actions -->
								</div><!-- /.song -->

								<div class="song"> 
									<div class="song__body">
										<div class="song__image">
											<a href="#">
												<a href="#">
													<i class="icon-play"></i>
												</a>
											</a>
										</div><!-- /.song__image -->

										<div class="song__content">
											<p>
												<strong>
													Song name
												</strong>
											</p>
											
											<p>
												Artist – Album
											</p>
											
											<p>
												Genre <span>&middot;</span> 3:25
											</p>
										</div><!-- /.song__content -->
									</div><!-- /.song__body -->
									
									<div class="song__actions">
										<div class="song__dots">
											<span></span>
											
											<span></span>
											
											<span></span>
										</div><!-- /.song__dots -->

										<ul class="song__icons">
											<li>
												<a href="#">
													<i class="icon-two-arrows"></i>
												</a>
											</li>
											
											<li class="has-dropdown">
												<a href="#" class="js-trigger">
													<i class="icon-plus"></i>
												</a>

												<ul class="song__dropdown">
													<li>
														<a href="#">Add to Playlist</a>
													</li>
													
													<li>
														<a href="#">New Playlist</a>
													</li>
													
													<li>
														<a href="#">Add to Sessions</a>
													</li>
												</ul><!-- /.song__dropdown -->
											</li>
											
											<li>
												<a href="#">
													<i class="icon-hearth"></i>
												</a>
											</li>
											
											<li>
												<a href="#">
													<i class="icon-logo-btn"></i>
												</a>
											</li>
										</ul><!-- /.song__icons -->
									</div><!-- /.song__actions -->
								</div><!-- /.song -->

								<div class="song"> 
									<div class="song__body">
										<div class="song__image">
											<a href="#">
												<a href="#">
													<i class="icon-play"></i>
												</a>
											</a>
										</div><!-- /.song__image -->

										<div class="song__content">
											<p>
												<strong>
													Song name
												</strong>
											</p>
											
											<p>
												Artist – Album
											</p>
											
											<p>
												Genre <span>&middot;</span> 3:25
											</p>
										</div><!-- /.song__content -->
									</div><!-- /.song__body -->
									
									<div class="song__actions">
										<div class="song__dots">
											<span></span>
											
											<span></span>
											
											<span></span>
										</div><!-- /.song__dots -->

										<ul class="song__icons">
											<li>
												<a href="#">
													<i class="icon-two-arrows"></i>
												</a>
											</li>
											
											<li class="has-dropdown">
												<a href="#" class="js-trigger">
													<i class="icon-plus"></i>
												</a>

												<ul class="song__dropdown song__dropdown--reverse">
													<li>
														<a href="#">Add to Playlist</a>
													</li>
													
													<li>
														<a href="#">New Playlist</a>
													</li>
													
													<li>
														<a href="#">Add to Sessions</a>
													</li>
												</ul><!-- /.song__dropdown -->
											</li>
											
											<li>
												<a href="#">
													<i class="icon-hearth"></i>
												</a>
											</li>
											
											<li>
												<a href="#">
													<i class="icon-logo-btn"></i>
												</a>
											</li>
										</ul><!-- /.song__icons -->
									</div><!-- /.song__actions -->
								</div><!-- /.song -->
							</div><!-- /.song__col -->
							
							<div class="song__col">
								<div class="song"> 
									<div class="song__body">
										<div class="song__image">
											<a href="#">
												<a href="#">
													<i class="icon-play"></i>
												</a>
											</a>
										</div><!-- /.song__image -->

										<div class="song__content">
											<p>
												<strong>
													Song name
												</strong>
											</p>
											
											<p>
												Artist – Album
											</p>
											
											<p>
												Genre <span>&middot;</span> 3:25
											</p>
										</div><!-- /.song__content -->
									</div><!-- /.song__body -->
									
									<div class="song__actions">
										<div class="song__dots">
											<span></span>
											
											<span></span>
											
											<span></span>
										</div><!-- /.song__dots -->

										<ul class="song__icons">
											<li>
												<a href="#">
													<i class="icon-two-arrows"></i>
												</a>
											</li>
											
											<li class="has-dropdown">
												<a href="#" class="js-trigger">
													<i class="icon-plus"></i>
												</a>

												<ul class="song__dropdown">
													<li>
														<a href="#">Add to Playlist</a>
													</li>
													
													<li>
														<a href="#">New Playlist</a>
													</li>
													
													<li>
														<a href="#">Add to Sessions</a>
													</li>
												</ul><!-- /.song__dropdown -->
											</li>
											
											<li>
												<a href="#">
													<i class="icon-hearth"></i>
												</a>
											</li>
											
											<li>
												<a href="#">
													<i class="icon-logo-btn"></i>
												</a>
											</li>
										</ul><!-- /.song__icons -->
									</div><!-- /.song__actions -->
								</div><!-- /.song -->

								<div class="song"> 
									<div class="song__body">
										<div class="song__image">
											<a href="#">
												<a href="#">
													<i class="icon-play"></i>
												</a>
											</a>
										</div><!-- /.song__image -->

										<div class="song__content">
											<p>
												<strong>
													Song name
												</strong>
											</p>
											
											<p>
												Artist – Album
											</p>
											
											<p>
												Genre <span>&middot;</span> 3:25
											</p>
										</div><!-- /.song__content -->
									</div><!-- /.song__body -->
									
									<div class="song__actions">
										<div class="song__dots">
											<span></span>
											
											<span></span>
											
											<span></span>
										</div><!-- /.song__dots -->

										<ul class="song__icons">
											<li>
												<a href="#">
													<i class="icon-two-arrows"></i>
												</a>
											</li>
											
											<li class="has-dropdown">
												<a href="#" class="js-trigger">
													<i class="icon-plus"></i>
												</a>

												<ul class="song__dropdown">
													<li>
														<a href="#">Add to Playlist</a>
													</li>
													
													<li>
														<a href="#">New Playlist</a>
													</li>
													
													<li>
														<a href="#">Add to Sessions</a>
													</li>
												</ul><!-- /.song__dropdown -->
											</li>
											
											<li>
												<a href="#">
													<i class="icon-hearth"></i>
												</a>
											</li>
											
											<li>
												<a href="#">
													<i class="icon-logo-btn"></i>
												</a>
											</li>
										</ul><!-- /.song__icons -->
									</div><!-- /.song__actions -->
								</div><!-- /.song -->

								<div class="song"> 
									<div class="song__body">
										<div class="song__image">
											<a href="#">
												<a href="#">
													<i class="icon-play"></i>
												</a>
											</a>
										</div><!-- /.song__image -->

										<div class="song__content">
											<p>
												<strong>
													Song name
												</strong>
											</p>
											
											<p>
												Artist – Album
											</p>
											
											<p>
												Genre <span>&middot;</span> 3:25
											</p>
										</div><!-- /.song__content -->
									</div><!-- /.song__body -->
									
									<div class="song__actions">
										<div class="song__dots">
											<span></span>
											
											<span></span>
											
											<span></span>
										</div><!-- /.song__dots -->

										<ul class="song__icons">
											<li>
												<a href="#">
													<i class="icon-two-arrows"></i>
												</a>
											</li>
											
											<li class="has-dropdown">
												<a href="#" class="js-trigger">
													<i class="icon-plus"></i>
												</a>

												<ul class="song__dropdown song__dropdown--reverse">
													<li>
														<a href="#">Add to Playlist</a>
													</li>
													
													<li>
														<a href="#">New Playlist</a>
													</li>
													
													<li>
														<a href="#">Add to Sessions</a>
													</li>
												</ul><!-- /.song__dropdown -->
											</li>
											
											<li>
												<a href="#">
													<i class="icon-hearth"></i>
												</a>
											</li>
											
											<li>
												<a href="#">
													<i class="icon-logo-btn"></i>
												</a>
											</li>
										</ul><!-- /.song__icons -->
									</div><!-- /.song__actions -->
								</div><!-- /.song -->
							</div><!-- /.song__col -->
						</div><!-- /.song__cols -->
					</div><!-- /.songs -->
				</div><!-- /.section__body -->
			</div><!-- /.container -->
		</div><!-- /.section-ordinary -->

		<section class="section-ordinary">
			<div class="container">
				<header class="section__head">
					<h3>
						Events Near You
					</h3>
				</header><!-- /.section__head -->

				<div class="section__body">
					<div class="row">
						<div class="col-md-6">
							<div class="event" style="background-image: url(assets/images/temp/event-3.jpg);">
								<div class="event__date">
									<p>
										<span>
											Nov
										</span>
										
										<strong>
											09
										</strong>
										
										<span>
											2018
										</span>
									</p>
								</div><!-- /.event__date -->

								<div class="event__content">
									<div class="event__time">
										<p>
											9:15 pm
										</p>
									</div><!-- /.event__time -->

									<div class="event__head">
										<h6>
											<strong>Artist or Band Name</strong>
										</h6>
										
										<h6>
											Tour or Concert Name 
										</h6>
									</div><!-- /.event__head -->

									<div class="event__location">
										<p>
											<strong>
												Address here
											</strong>
										</p>
										
										<p>
											222 Street Name
										</p>
										
										<p>
											City / State
										</p>
									</div><!-- /.event__location -->
								</div><!-- /.event__content -->

								<div class="event__like">
									<img src="assets/images/svg/heart.svg" class="event__like-off" width="32" alt="">

									<img src="assets/images/svg/heart-2.svg" class="event__like-on" width="32" alt="">
								</div><!-- /.event__like -->

								<div class="event__actions">
									<a href="#">
										View Event
									</a>
								</div><!-- /.event__actions -->
							</div><!-- /.event -->
						</div><!-- /.col-md-6 -->

						<div class="col-md-6">
							<div class="event" style="background-image: url(assets/images/temp/event-4.jpg);">
								<div class="event__date">
									<p>
										<span>
											Nov
										</span>
										
										<strong>
											16
										</strong>
										
										<span>
											2018
										</span>
									</p>
								</div><!-- /.event__date -->

								<div class="event__content">
									<div class="event__time">
										<p>
											9:15 pm
										</p>
									</div><!-- /.event__time -->

									<div class="event__head">
										<h6>
											<strong>Artist or Band Name</strong>
										</h6>
										
										<h6>
											Tour or Concert Name 
										</h6>
									</div><!-- /.event__head -->

									<div class="event__location">
										<p>
											<strong>
												Address here
											</strong>
										</p>
										
										<p>
											222 Street Name
										</p>
										
										<p>
											City / State
										</p>
									</div><!-- /.event__location -->
								</div><!-- /.event__content -->

								<div class="event__like">
									<img src="assets/images/svg/heart.svg" class="event__like-off" width="32" alt="">

									<img src="assets/images/svg/heart-2.svg" class="event__like-on" width="32" alt="">
								</div><!-- /.event__like -->

								<div class="event__actions">
									<a href="#">
										View Event
									</a>
								</div><!-- /.event__actions -->
							</div><!-- /.event -->
						</div><!-- /.col-md-6 -->
					</div><!-- /.row -->
				</div><!-- /.section__body -->
			</div><!-- /.container -->
		</section><!-- /.section-ordinary -->
		
	</div><!-- /.wrapper -->