<div class="wrapper" id="shuffle">
		<div class="intro-alt" style="background-image: url('<%= image_url 'client/temp/intro-library-playlist.jpg' %>');">
			<div class="container">
				<div class="intro__head intro__head--alt">
					<h1>
						Library
					</h1>

					<div class="intro__icons">
						<ul class="list-icons">
							<li>
								<a href="#">
									<i class="icon-play"></i>
								</a>
							</li>
							
							<li id="shuffle_5">
								<a>
									<i class="icon-two-arrows"></i>
								</a>
							</li>
							
							<li>
								<a href="#">
									<i class="icon-plus"></i>
								</a>
							</li>
						</ul><!-- /.list-icons -->
					</div><!-- /.intro__icons -->
				</div><!-- /.intro__head -->

				<div class="intro__body">
					<ul class="list-btns">
						<li>
							<a href="/client/my_playlists" class="btn btn--block">My Playlists</a>
						</li>
						
						<li>
							<a href="/client/my_artists" class="btn btn--block current">Artists</a>
						</li>
						
						<li>
							<a href="/client/my_songs" class="btn btn--block">All Songs</a>
						</li>
					</ul><!-- /.list-btns -->
				</div><!-- /.intro__body -->
			</div><!-- /.container -->
		</div><!-- /.intro-alt -->

		<div class="section-ordinary decoration-dark-gradient">
			<div class="container">
				<div class="section__body">
					<div class="row">
				  	<% @liked_artists.each do |artist| %>
					    <%= render partial: "client/shared/artist", locals: {artist: artist} %>
						<% end %>
					</div><!-- /.row -->
				</div><!-- /.section__body -->
			</div><!-- /.container -->
		</div><!-- /.section-ordinary decoration-dark-gradient -->
		
	</div><!-- /.wrapper -->

<script type="text/javascript">
  $("#shuffle_5").click(function () {
    $.ajax({
      data : { shuffle : true },
      url: '/client/my_artists',
      success: function(res){
        $("#shuffle").html(res)
      }
    })
  });
</script>