<div class="section-ordinary">
  <div class="container">

    <header class="section__head">
      <h3>
        Top 10 most played songs
      </h3>
    
      <a href="#" class="link">
        View more
      </a>
    </header><!-- /.section__head -->
    
    <div class="section__body">
      <div class="songs">
        <div class="song__cols slider-songs">
          <div class="song__col">
            <% most_played.each_with_index do |song, ind| %>
              <% if ind <= 4 %>
                <div class="song">
                  <div class="song__body">
                    <div class="song__image">
                      <a href="#">
                        <i class="icon-play"></i>
                      </a>
                    </div><!-- /.song__image -->
                      
                    <div class="song__content">
                      <p>
                        <strong>
                          <%= song["title"] %>
                        </strong>
                      </p>
                      
                      <p class="song__name">
                        <%= song["artist_name"].to_s + " – " + song["album_name"].to_s %>
                      </p>
                      
                      <p>
                        Rock <span>&middot;</span> 3:25
                      </p>
                    </div><!-- /.song__content -->
                  </div><!-- /.song__body -->
                  
                  <div class="song__actions">
                    <div class="song__dots">
                      <span></span>
                      
                      <span></span>
                      
                      <span></span>
                    </div><!-- /.song__dots -->
              
                    <ul class="song__icons">
                      <li>
                        <a href="#">
                          <i class="icon-two-arrows"></i>
                        </a>
                      </li>
                      
                      <li class="has-dropdown">
                        <a href="#" class="js-trigger">
                          <i class="icon-plus"></i>
                        </a>

                        <ul class="song__dropdown">
                          <li>
                            <a href="#">Add to Playlist</a>
                          </li>
                          
                          <li>
                            <a href="#">New Playlist</a>
                          </li>
                          
                          <li>
                            <a href="#">Add to Sessions</a>
                          </li>
                        </ul><!-- /.song__dropdown -->
                      </li>
                      
                      <li>
                        <a href="#">
                          <i class="icon-hearth-fill"></i>
                        </a>
                      </li>
                      
                      <li>
                        <a href="#">
                          <i class="icon-logo-btn"></i>
                        </a>
                      </li>
                    </ul><!-- /.song__icons -->
                  </div><!-- /.song__actions -->
                </div><!-- /.song -->
              <% end %>
            <% end %>
          </div><!-- /.song__col -->
          
          <div class="song__col">
          <div class="song__col">
            <% most_played.each_with_index do |song, ind| %>
              <% if ind > 4 %>
                <div class="song">
                  <div class="song__body">
                    <div class="song__image">
                      <a href="#">
                        <i class="icon-play"></i>
                      </a>
                    </div><!-- /.song__image -->
                      
                    <div class="song__content">
                      <p>
                        <strong>
                          <%= song["title"] %>
                        </strong>
                      </p>
                      
                      <p class="song__name">
                        <%= song["artist_name"].to_s + " – " + song["album_name"].to_s %>
                      </p>
                      
                      <p>
                        Rock <span>&middot;</span> 3:25
                      </p>
                    </div><!-- /.song__content -->
                  </div><!-- /.song__body -->
                  
                  <div class="song__actions">
                    <div class="song__dots">
                      <span></span>
                      
                      <span></span>
                      
                      <span></span>
                    </div><!-- /.song__dots -->
              
                    <ul class="song__icons">
                      <li>
                        <a href="#">
                          <i class="icon-two-arrows"></i>
                        </a>
                      </li>
                      
                      <li class="has-dropdown">
                        <a href="#" class="js-trigger">
                          <i class="icon-plus"></i>
                        </a>

                        <ul class="song__dropdown">
                          <li>
                            <a href="#">Add to Playlist</a>
                          </li>
                          
                          <li>
                            <a href="#">New Playlist</a>
                          </li>
                          
                          <li>
                            <a href="#">Add to Sessions</a>
                          </li>
                        </ul><!-- /.song__dropdown -->
                      </li>
                      
                      <li>
                        <a href="#">
                          <i class="icon-hearth-fill"></i>
                        </a>
                      </li>
                      
                      <li>
                        <a href="#">
                          <i class="icon-logo-btn"></i>
                        </a>
                      </li>
                    </ul><!-- /.song__icons -->
                  </div><!-- /.song__actions -->
                </div><!-- /.song -->
              <% end %>
            <% end %>
          </div><!-- /.song__col -->
          </div><!-- /.song__col -->
        </div><!-- /.song__cols -->
      </div><!-- /.songs -->
    </div><!-- /.section__body -->
  </div><!-- /.container -->
</div><!-- /.section-ordinary -->