	<div class="wrapper">
		<div class="intro-alt" style="background-image: url('<%= image_url 'client/temp/intro-library-playlist.jpg' %>');">
			<div class="container">
				<div class="intro__head intro__head--alt">
					<h1>
						Library
					</h1>

					<div class="intro__icons">
						<ul class="list-icons">
							<li>
								<a href="#">
									<i class="icon-play"></i>
								</a>
							</li>
							
							<li>
								<a href="#">
									<i class="icon-two-arrows"></i>
								</a>
							</li>
							
							<li>
								<a href="#">
									<i class="icon-plus"></i>
								</a>
							</li>
						</ul><!-- /.list-icons -->
					</div><!-- /.intro__icons -->
				</div><!-- /.intro__head -->

				<div class="intro__body">
					<ul class="list-btns">
						<li>
							<a href="#playlists" class="btn btn--block">My Playlists</a>
						</li>
						
						<li>
							<a href="#artists" class="btn btn--block">Artists</a>
						</li>
						
						<li>
							<a href="#songs" class="btn btn--block">All Songs</a>
						</li>
					</ul><!-- /.list-btns -->
				</div><!-- /.intro__body -->
			</div><!-- /.container -->
		</div><!-- /.intro-alt -->

		<div id="songs" class="section-ordinary decoration-dark-gradient">
			<div class="container">
				<div class="section__body">
					<div class="songs songs--alt">
						<div class="songs__head">
							<ul>
								<li>
									Title
								</li>
								
								<li>
									Artist
								</li>
								
								<li>
									Album
								</li>
								
								<li>
									Genre
								</li>
								
								<li>
									Time
								</li>
								
								<li>
									Credits
								</li>
							</ul>
						</div><!-- /.songs__head -->
						<% @songs.each do |song| %>
						<div class="song song--alt">
							<div class="song__body">
								<div class="song__content">
									<div class="song__image">
										<a href="#">
											<i class="icon-play"></i>
										</a>
									</div><!-- /.song__image -->

									<p class="song__title">
										<strong>
										<%= song["title"].to_s %>
										</strong>
									</p>

									<p class="song__artist">
										<%= song["artist_name"] %>
									</p>

									<p class="song__album">
										<%= song["album_name"] %>
									</p>

									<p class="song__genre">
										Singer / Songwriter
									</p><!-- /.song__genre -->

									<p class="song__time">
										<% song["duration"] %>
									</p><!-- /.song__time -->

									<div class="song__actions">
										<div class="song__dots">
											<span></span>

											<span></span>

											<span></span>
										</div><!-- /.song__dots -->

										<ul class="song__icons">
											<li>
												<a href="#" class="js-trigger">
													<i class="icon-two-arrows"></i>
												</a>

												<ul class="song__dropdown">
													<li>
														<a href="#">Shuffle Now</a>
													</li>

													<li>
														<a href="#">Shuffle Next</a>
													</li>
												</ul><!-- /.song__dropdown -->
											</li>

											<li class="has-dropdown">
												<a href="#" class="js-trigger">
													<i class="icon-plus"></i>
												</a>

												<ul class="song__dropdown">
													<li>
														<a href="#">Add to Playlist</a>
													</li>

													<li>
														<a href="#">New Playlist</a>
													</li>

													<li>
														<a href="#">Add to Sessions</a>
													</li>
												</ul><!-- /.song__dropdown -->
											</li>

											<li>
												<a href="#">
													<i class="icon-hearth"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon-logo-btn"></i>
												</a>
											</li>
										</ul><!-- /.song__icons -->
									</div><!-- /.song__actions -->
								</div><!-- /.song__content -->
							</div><!-- /.song__body -->
						</div><!-- /.song -->
						<% end %>
						</div><!-- /.song -->
					</div><!-- /.songs -->
				</div><!-- /.section__body -->
			</div><!-- /.container -->
		</div><!-- /.section-ordinary decoration-dark-gradient -->


		<div id="playlists" class="section-ordinary decoration-dark-gradient">
			<div class="container">
				<div class="section__body">
					<div class="tiles tiles--big">
						<div class="tile tile--big tile--text">
							<div class="tile__inner">
								<div class="tile__image tile__image--square">
									<h2>
										New <br> Playlist
									</h2>
								</div><!-- /.tile__image tile__image--square -->

							</div><!-- /.tile__inner -->
						</div><!-- /.tile -->

						<div class="tile tile--big">
							<div class="tile__inner">
								<div class="tile__image tile__image--square">
									<a href="#">
										<img src="assets/images/temp/playlist-1.jpg" alt="">
									</a>

									<div class="tile__overlay">
										<ul class="list-icons">
											<li>
												<a href="#">
													<i class="icon-play"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon-two-arrows"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon-plus"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon-hearth"></i>
												</a>
											</li>
										</ul><!-- /.list-icons -->
									</div><!-- /.tile__overlay -->
								</div><!-- /.tile__image tile__image--square -->

								<div class="tile__text">
									<p>
										New York Road Trip &lt;3 
									</p>
								</div><!-- /.tile-text -->
							</div><!-- /.tile__inner -->
						</div><!-- /.tile -->

						<div class="tile tile--big">
							<div class="tile__inner">
								<div class="tile__image tile__image--square">
									<a href="#">
										<img src="assets/images/temp/playlist-2.jpg" alt="">
									</a>

									<div class="tile__overlay">
										<ul class="list-icons">
											<li>
												<a href="#">
													<i class="icon-play"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon-two-arrows"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon-plus"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon-hearth"></i>
												</a>
											</li>
										</ul><!-- /.list-icons -->
									</div><!-- /.tile__overlay -->
								</div><!-- /.tile__image tile__image--square -->

								<div class="tile__text">
									<p>
										Jazz
									</p>
								</div><!-- /.tile-text -->
							</div><!-- /.tile__inner -->
						</div><!-- /.tile -->

						<div class="tile tile--big">
							<div class="tile__inner">
								<div class="tile__image tile__image--square">
									<a href="#">
										<img src="assets/images/temp/playlist-3.jpg" alt="">
									</a>

									<div class="tile__overlay">
										<ul class="list-icons">
											<li>
												<a href="#">
													<i class="icon-play"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon-two-arrows"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon-plus"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon-hearth"></i>
												</a>
											</li>
										</ul><!-- /.list-icons -->
									</div><!-- /.tile__overlay -->
								</div><!-- /.tile__image tile__image--square -->

								<div class="tile__text">
									<p>
										I like to move
									</p>
								</div><!-- /.tile-text -->
							</div><!-- /.tile__inner -->
						</div><!-- /.tile -->

						<div class="tile tile--big">
							<div class="tile__inner">
								<div class="tile__image tile__image--square">
									<a href="#">
										<img src="assets/images/temp/playlist-4.jpg" alt="">
									</a>

									<div class="tile__overlay">
										<ul class="list-icons">
											<li>
												<a href="#">
													<i class="icon-play"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon-two-arrows"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon-plus"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon-hearth"></i>
												</a>
											</li>
										</ul><!-- /.list-icons -->
									</div><!-- /.tile__overlay -->
								</div><!-- /.tile__image tile__image--square -->

								<div class="tile__text">
									<p>
										Metal Fever
									</p>
								</div><!-- /.tile-text -->
							</div><!-- /.tile__inner -->
						</div><!-- /.tile -->

						<div class="tile tile--big">
							<div class="tile__inner">
								<div class="tile__image tile__image--square">
									<a href="#">
										<img src="assets/images/temp/playlist-5.jpg" alt="">
									</a>

									<div class="tile__overlay">
										<ul class="list-icons">
											<li>
												<a href="#">
													<i class="icon-play"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon-two-arrows"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon-plus"></i>
												</a>
											</li>

											<li>
												<a href="#">
													<i class="icon-hearth"></i>
												</a>
											</li>
										</ul><!-- /.list-icons -->
									</div><!-- /.tile__overlay -->
								</div><!-- /.tile__image tile__image--square -->

								<div class="tile__text">
									<p>
										Christmas Party 2018
									</p>
								</div><!-- /.tile-text -->
							</div><!-- /.tile__inner -->
						</div><!-- /.tile -->
					</div><!-- /.tiles -->
				</div><!-- /.section__body -->
			</div><!-- /.container -->
		</div><!-- /.section-ordinary decoration-dark-gradient -->

		<div id="artists" class="section-ordinary decoration-dark-gradient">
			<div class="container">
				<div class="section__body">
					<div class="row">
						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->

						<div class="col-xl-2 col-lg-3 col-md-4 col-6">
							<div class="artist">
								<div class="artist__image">
									<img src="assets/images/temp/" alt="">
								</div><!-- /.artist__image -->

								<div class="artist__name">
									<p>
										Artist Name
									</p>
								</div><!-- /.artist__name -->
							</div><!-- /.artist -->
						</div><!-- /.col-xl-2 col-lg-3 col-md-4 col-6 -->
					</div><!-- /.row -->
				</div><!-- /.section__body -->
			</div><!-- /.container -->
		</div><!-- /.section-ordinary decoration-dark-gradient -->
		
	</div><!-- /.wrapper -->