<div class="intro-alt" style="background-image: url('<%= image_url 'client/temp/splash.jpg' %>');">
<div class="wrapper">
		<section class="section-splash">
			<div class="container">
				<div class="section__body">
					<header class="section__head">
						<%= image_tag("client/temp/logo-name.png", {:style => "height:72px;"}) %>
					</header><!-- /.section__head -->

					<div class="section__content">
						<p>
							Let’s make it about the music this time
						</p>
					</div><!-- /.section__content -->
				</div><!-- /.section__body -->
			</div><!-- /.container -->
		</section><!-- /.section-splash -->
	</div><!-- /.wrapper -->
</div>