	<div class="wrapper">
		<div class="intro-alt intro--my-session" style="background-image: url('<%= image_url 'client/temp/intro-my-session.jpg' %>');">
			<div class="container">
				<div class="intro__head intro__head--alt">
					<h1>
						My Session
					</h1>

					<div class="intro__icons">
						<ul class="list-icons">
							<li>
								<a href="#"  class="playlist-songs">
									<i class="icon-play"></i>
								</a>
							</li>
							
							<li>
								<a href="#">
									<i class="icon-two-arrows"></i>
								</a>
							</li>
							
							<li>
								<a href="#">
									<i class="icon-plus"></i>
								</a>
							</li>

							<li>
								<a href="#">
									<i class="icon-hearth"></i>
								</a>
							</li>
						</ul><!-- /.list-icons -->
					</div><!-- /.intro__icons -->
				</div><!-- /.intro__head -->
			</div><!-- /.container -->
		</div><!-- /.intro-alt -->

	
	<div class="section-ordinary decoration-dark-gradient">
		<div class="container">
			<div class="section__body">
				<div class="songs songs--alt">
					<div class="songs__head">
						<ul>
							<li>
								Title
							</li>
							
							<li>
								Artist
							</li>
							
							<li>
								Album
							</li>
							
							<li>
								Genre
							</li>
							
							<li>
								Time
							</li>
							
							<li>
								Credits
							</li>
						</ul>
					</div><!-- /.songs__head -->
          <% @my_session.each do |song| %>
            <%= render partial: 'client/songs/song_with_full_width', locals: {song: song} %>
          <% end %>
				</div><!-- /.songs -->
			</div><!-- /.section__body -->
		</div><!-- /.container -->
	</div><!-- /.section-ordinary decoration-dark-gradient -->
	
</div><!-- /.wrapper -->

<script type="text/javascript" charset="utf-8">
    const songs = <%= @my_session.to_json.to_s.html_safe  %>;
</script>
<% render partial: 'client/shared/playable_song_js' %>