<div class="tab-pane" id="album" role="tabpanel">
	<div class="card">
		<div class="card-header d-flex align-items-center justify-content-between">
			<h6 class="card-header-text mb-0 text-uppercase">Album</h6>
		</div>
	</div>
</div>