<div class="jFiler-items jFiler-row">
  <ul class="jFiler-items-list jFiler-items-grid images-ul">
    <% images.each do |img| %>
     <%= render partial: 'image', locals: {img: img} %>
    <% end %>
  </ul>
</div>