<div>
  <input type='button' value='Upload' class='export btn btn-default' />
  <span class="filename"></span>
</div>

<div id="image-cropper" class="image-cropper">
  <div class="cropit-preview"></div>
  <input type="range" class="cropit-image-zoom-input" />

  <input type="file" class="cropit-image-input btn btn-default " id="filer_inputs" data-url="/a/sp" data-url-remove="/a/rp" name="files[]"/>

</div>

