<div>
  <input type='button' value='Export' class='export' />
  <span class="filename"></span>
</div>

<div id="image-cropper" class="image-cropper">
  <div class="cropit-preview"></div>
  <input type="range" class="cropit-image-zoom-input" />

  <input type="file" class="cropit-image-input " id="filer_input" data-url="/a/sp" data-url-remove="/a/rp" name="files[]"/>

</div>

