<!--profile cover start-->
<div class="row">
  <div class="col-lg-12">
    <div class="cover-profile mb-2">
      <div class="profile-bg-img position-relative d-flex align-items-center justify-content-center">
        <!-- <img class="profile-bg-img img-fluid" src=  alt="bg-img"> -->
        <%= image_tag 'http://as.yodobi.com/4k-Wallpapers/mountain-sunrise-picture-Is-4K-Wallpaper.jpg',class: "img-fluid" %>
        <div class="text-center profile-user">
          <div class="profile-user-inner d-flex align-items-center justify-content-around justify-content-lg-between flex-column flex-lg-row">
            <div class="user-info d-flex align-items-center flex-column flex-lg-row">
              <div class="profile-image mb-3 mb-lg-0 mr-lg-3">
                <a href="#" class="d-flex align-items-center justify-content-center">
                  <%
                  puts "=======> 4 #{@p.name}"
                  puts "=======> 4 #{@p.profile_pic_url}"
                  if (@p.present? && @p.profile_pic_url.present?)
                    u = @p.profile_pic_url
                    puts "========> 1 #{u}"
                  else
                    u = "/files/assets/images/avatar-4.jpg"
                    puts "========> 2 #{u}"
                    end %>
                    <img class="user-img img-radius" src="<%= u %>" alt="user-img">
                </a>
              </div>
              <div class="user-title text-lg-left mr-lg-3">
                <h4 class="text-white"><%= @p.name %></h4>
                <span class="text-white h5">Artist</span>
              </div>
            </div>
            <div class="cover-btn d-flex justify-content-end mt-3 mt-lg-0">
              <button type="button" class="btn btn-white btn-sm mr-1"><i class="icofont icofont-plus"></i> Follow</button>
              <button type="button" class="btn btn-white btn-sm ml-1"><i class="icofont icofont-ui-messaging"></i> Message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--profile cover end-->
