
<div class="card mt-5">
  <div class="card-body">
    <!-- tab header start -->
    <div class="tab-header">
      <ul class="nav nav-pills nav-pills-dark md-tabs tab-timeline" role="tablist" id="mytab">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#personal" role="tab">Personal Info</a>
          <div class="slide"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#binfo" role="tab">Sales</a>
          <div class="slide"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#review" role="tab">Reviews</a>
          <div class="slide"></div>
        </li>
      </ul>
    </div>
    <!-- tab header end -->
  </div>
</div>
