<div class="tab-pane" id="profile_album" role="tabpanel">
  <div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h6 class="card-header-text mb-0 text-uppercase"><%= I18n.t("person.profile_album.p1") %></h6>
    </div>
    <div class="card-body">
    
      

    </div>
  </div>
</div>
