<div class="wrapper" id="shuffle">
  <div class="intro-alt search-intro-overview">
    <div class="container">
      <div class="intro__head intro__head--alt">
        <h1>
          Greta Van Fleet
        </h1>

        <div class="intro__icons">
          <ul class="list-icons">
            <li>
              <a href="#">
                <i class="icon-play"></i>
              </a>
            </li>
            
            <li id="shuffle_7">
              <a>
                <i class="icon-two-arrows"></i>
              </a>
            </li>
            
            <li>
              <a href="javascript:;" data-toggle="modal" data-target="#newAlbum" class="F" >
                <i class="icon-plus"></i>
              </a>
            </li>
          </ul><!-- /.list-icons -->
        </div><!-- /.intro__icons -->
      </div><!-- /.intro__head -->

      <div class="intro__body">
        <ul class="list-btns">
          <li>
            <a href="#" class="btn btn--block">Overview</a>
          </li>
          
          <li>
            <a href="/albums" class="btn btn--block current ajaxLink">Albums</a>
          </li>
          
          <li>
            <a href="/songs/top_songs" class="btn btn--block ajaxLink">Top Songs</a>
          </li>
          
          <li>
            <a href="/my_playlists" class="btn btn--block ajaxLink">Playlists</a>
          </li>
        </ul><!-- /.list-btns -->
      </div><!-- /.intro__body -->
    </div><!-- /.container -->
  </div><!-- /.intro-alt -->

  <div class="section-ordinary decoration-dark-gradient  pb-5 mb-5">
    <div class="container">
      <div class="section__body">
        <div class="tiles albums tiles--big">
          <% @albums.each do |album| %>
           <%= render partial: 'client/shared/album', locals: {al: album} %>
          <% end %>
        </div><!-- /.tiles -->
      </div><!-- /.section__body -->
    </div><!-- /.container -->
  </div><!-- /.section-ordinary decoration-dark-gradient -->
  
</div><!-- /.wrapper -->
<%= render partial: 'client/shared/new_album_modal' %>

<script type="text/javascript">
    $("#shuffle_7").click(function () {
      $.ajax({
        data : { shuffle : true },
        url: '/albums/',
        success: function(res){
          $("#shuffle").html(res)
        }
      })
    });
</script>