<div class="intro__icons">
  <ul class="list-icons">
    <li>
      <a href="#">
        <i class="icon-play"></i>
      </a>
    </li>

    <li>
      <a href="#">
        <i class="icon-two-arrows"></i>
      </a>
    </li>

    <li>
      <a href="#">
        <i class="icon-plus"></i>
      </a>
    </li>
  </ul><!-- /.list-icons -->
</div><!-- /.intro__icons -->