<div class="tile">
  <div class="tile__inner">
    <div class="tile__image tile__image--square tile__image--empty">
      <a href="<%= album_path(al['id']) %>" class="ajaxLink">
        <img src="<%= al['pic'] %>" alt="">
      </a>
    </div><!-- /.tile__image tile__image--square -->
  </div><!-- /.tile__inner -->
</div><!-- /.tile -->