<div class="player-sticky">
  <div class="container">
    <div class="player__inner">
      <div class="player__content">
        <div class="player__image">
          <img src="<%= image_url 'client/temp/tile-big-2.jpg'%>" alt="">
        </div><!-- /.player__image -->

        <div class="player__text">
          <p>
            <strong>
              You’re the One - Greta Van Fleet
            </strong>
          </p>

          <p>
            Anthem of the Peaceful Army
          </p>

          <p>
            Rock
          </p>
        </div><!-- /.player__text -->
      </div><!-- /.player__content -->

      <div class="player__actions">
        <ul>
          <li>
            <a href="#">
              <i class="icon-hearth"></i>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="icon-play-back"></i>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="icon-pause"></i>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="icon-play-forward"></i>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="icon-plus"></i>
            </a>
          </li>
        </ul>
      </div><!-- /.player__actions -->

      <div class="player__volume">
        <div class="player__volume-bar">
          <div class="player__volume-bar-inner"></div><!-- /.player__volume-bar-inner -->
        </div><!-- /.player__volume-bar -->

        <i class="ico-volume"></i>
      </div><!-- /.player__volume -->

      <div class="player__bar">
        <div class="player__bar-inner"></div><!-- /.player__bar-inner -->
      </div><!-- /.player__bar -->
    </div><!-- /.player__inner -->
  </div><!-- /.container -->
</div><!-- /.player-sticky -->


