<script type="text/javascript">
window.fbAsyncInit = function() {
  FB.init({
    appId: "<%=ENV['FB_APP_ID']%>",
    version: 'v2.10',
    cookie: true // IMPORTANT must enable cookies to allow the server to access the session
  });
  console.log("fb init");
};
(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>
<p id="connect">
<a href="#">Connect to FB!</a>
</p>

<p id="results" />

<script type="text/javascript">
$('a').click(function(e) {
  e.preventDefault();
  FB.login(function(response) {
    console.log(response);

    if (response.authResponse) {
      $('#connect').html('Wait Connecting..');
      // since we have cookies enabled, this request will allow omniauth to parse
      // out the auth code from the signed request in the fbsr_XXX cookie
      $.ajax({
      	url: '/auth/facebook/callback',
      	type: 'GET',
      	success: function(e){
      		console.log(e)
      		if(e["res"]=="found"){
            window.location = '/home'
          }
          if(e["res"]=="ok"){
            window.location = '/sec/complete_signup'
          }
      	}
      	
      })
    }
  },  {scope: "email"}
  		); // if you want custom scopes, pass them as an extra, final argument to FB.login
});
</script>
