	<div class="main">
		<section class="section section-primary">
			<div class="shell shell-primary">
				<div class="section-inner">
					<div class="section-head">
						<h2><%= I18n.t('security.pw_init_invalid.reinstall_invalid') %></h2>
						
						<p><%= I18n.t('security.pw_init_invalid.la_cle') %></p>
						<p><%= I18n.t('security.pw_init_invalid.veu_ca') %>.</p>
					</div><!-- /.section-head -->

					<div class="section-actions">
						<a href="/" class="btn btn-xlarge"><%= I18n.t('security.forgot_reset.continuer') %></a>
					</div><!-- /.section-actions -->
				</div><!-- /.section-inner -->
			</div><!-- /.shell shell-primary -->
		</section><!-- /.section section-primary  -->
	</div><!-- /.main -->


