<div class="wrapper">
  <div class="intro-alt intro-events-bg">
    <div class="container">
      <div class="intro__head">
        <h1>
          Events
        </h1>
      </div>

      <div class="intro__body">
        <ul class="list-btns">
          <li>
            <a href="/events" class="btn btn--block ajaxLink">Near You</a>
          </li>
          
          <li>
            <a href="/events/all_events" class="btn btn--block ajaxLink">All</a>
          </li>
          
          <li>
            <a href="/events/my_events" class="btn btn--block current ajaxLink">My Events</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <%= render partial: 'client/events/events', locals: { events: @events } %>
</div>
