

/*====================================================================================*/
/*==================================== custom style ==================================*/
/*====================================================================================*/



.content-wrapper {
  padding-top: 90px;
}
.page-header .page-block {
  padding-left: 15px;
  padding-right: 15px;
}
.table-dark-set thead tr th {
  border-bottom: 1px solid #ddd !important;
  font-size: .72rem !important;
  cursor: inherit !important;
}
.table-dark-set tr th,
.table-dark-set tr td {
  padding: .75rem 1.5rem !important;
  vertical-align: middle !important;
}
.table-dark-set a,
.table-dark-set a {
  color: #fff;
}
.table-dark-set a:hover,
.table-dark-set a:focus {
  color: #f63740;
}
.table-dark-set .fooicon {
  top: 22px !important;
}
.card-body-managers .table-dark-set thead tr th:last-child span.fooicon {
  display: none;
}
.card-body-artists .table-dark-set thead tr th:nth-of-type(4) span.fooicon {
  display: none;
}
.card-body-artists .table-dark-set thead tr th:nth-of-type(5) span.fooicon {
  display: none;
}
.table-dark-set tr th:nth-of-type(1) {
  display: block;
}
.table-dark-set tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, .05) !important;
}
.btn-white {
  background-color: #fff;
  color: #223035;
}
.btn-white:hover,
.btn-white:focus {
  background-color: #fff;
  border-color: #223035;
}
.form-group-art input.error {
  float: inherit;
}
.form-group-art input.error:focus {
  border-color: #ff0000;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
.form-group-art label.error {
  position: absolute;
  right: 0;
  bottom: -34px;
}
.table-dark-set .pagination>li a {
  padding: 8px 15px !important;
}
.table-dark-set .pagination>.active>a {
  background-color: #f63740 !important;
  border-color: #f63740 !important;
}
.table-dark-set .pagination>li:last-child a {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.card-body-managers .table-dark-set tbody tr td:nth-of-type(4),
.card-body-artists .table-dark-set tbody tr td:nth-of-type(5) {
  width: 214px;
}
.card-body-artists .table-dark-set tbody tr td:nth-of-type(4) {
  width: 86px;
}





@media only screen and (max-width: 767px) {
  .content-wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-top: 80px;
  }
}



/*====================================================================================*/
/*==================================== custom style ==================================*/
/*====================================================================================*/


