


.content-wrapper {
  padding-top: 90px;
}
.page-header .page-block {
  padding-left: 15px;
  padding-right: 15px;
}
.btn-white {
  background-color: #fff;
  color: #223035;
}
.btn-white:hover,
.btn-white:focus {
  background-color: #fff;
  border-color: #223035;
}





/*
=====================================================
artist & managers
=====================================================
*/


.table-dark-set thead tr th {
  border-bottom-width: 1px !important;
  font-size: .72rem !important;
  cursor: inherit !important;
}
.table-dark-set tr th,
.table-dark-set tr td {
  padding: .75rem 1.5rem !important;
  vertical-align: middle !important;
  white-space: normal;
  word-break: break-word;
}
.table-link {
  color: #fff;
}
.table-link:hover,
.table-link:focus {
  color: #f63740;
}
.card-body-managers .table-dark-set thead tr th:last-child span.fooicon {
  display: none;
}
.card-body-artists .table-dark-set thead tr th:nth-of-type(4) span.fooicon {
  display: none;
}
.card-body-artists .table-dark-set thead tr th:nth-of-type(5) span.fooicon {
  display: none;
}
.table-dark-set tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, .05) !important;
}
.form-group-art input.error {
  float: inherit;
}
.form-group-art input.error:focus {
  border-color: #ff0000;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
.form-group-art label.error {
  position: absolute;
  right: 0;
  bottom: -34px;
}
.table-dark-set .pagination>li a {
  padding: 8px 15px !important;
}
.table-dark-set .pagination>.active>a {
  background-color: #f63740 !important;
  border-color: #f63740 !important;
}
.table-dark-set .pagination>li:last-child a {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.table-column-four tbody tr td:nth-of-type(4),
.table-column-five tbody tr td:nth-of-type(5) {
  width: 214px;
}
.table-column-five tbody tr td:nth-of-type(4) {
  width: 88px;
}
.table-dark-set thead tr th,
.table-dark-set tbody tr td {
  min-width: 65px;
} 
.table-dark-set thead tr th:nth-of-type(3),
.table-dark-set tbody tr td:nth-of-type(3) {
  min-width: 110px;
} 
.table-dark-set {
  min-width: 880px;
}
.table-column-six tbody tr td:nth-of-type(5) {
  width: 124px;
}
.table-column-six tbody tr td:nth-of-type(6) {
  width: 220px;
}
.table-dark-set.table-column-six thead tr th,
.table-dark-set.table-column-six tbody tr td {
  min-width: 110px;
}
table.footable.table-dark>tbody>tr.footable-empty>td {
  font-size: 24px;
}
.table-albumRelease {
  min-width: 320px;
}
.table-dark-set.table-albumRelease thead tr th:nth-of-type(4),
.table-dark-set.table-albumRelease tbody tr td:nth-of-type(4) {
  text-align: center;
}
.btn-danger {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-transform: inherit;
}
.table-songs thead tr th:last-child,
.table-songs tbody tr td:last-child {
  width: 135px;
  text-align: center;
}




/*
=====================================================
artist & managers
=====================================================
*/








/*
=====================================================
profile
=====================================================
*/


.material-group-p .material-addone {
  position: absolute;
  right: 15px;
  bottom: 10px;
  pointer-events: none;
}
.material-group-p .form-control {
  padding-right: 40px;
}
select.select-appearance {
  -webkit-appearance: none; /* WebKit */
  -moz-appearance: none; /* Mozilla */
  -o-appearance: none; /* Opera */
  -ms-appearance: none; /* Internet Explorer */
  appearance: none; /* CSS3 */
}
.profile-sales .card-header span.addon-btn {
  line-height: 10px;
  padding: 5px 3px 3px 3px;
  cursor: pointer;
}
.dropdown-dark {
  padding: 0;
}
.dropdown-dark .dropdown-item:active {
  background-color: #223035;
  color: #fff;
}
.dropdown-dark .dropdown-item:first-child {
  border-radius: .25rem .25rem 0 0;
}
.dropdown-dark .dropdown-item:last-child {
  border-radius: 0 0 .25rem .25rem;
}
.reviews-links a:hover,
.reviews-links a:focus,
.reviews-links a:active {
  color: #f63740;
}
.cover-profile .profile-bg-img {
  height: 250px;
  overflow: hidden;
}
.cover-profile .profile-bg-img>img.img-fluid,
.profile-user .profile-image a img {
  flex-shrink: 0;
}
/*.cover-profile .profile-bg-img>img.img-fluid {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}*/
.profile-user {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.25);
}
.profile-user .profile-user-inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
}
.profile-user .profile-image a {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  background-color: #f1f1f1;
}
.profile-user .profile-image a img {
  min-width: 140px;
  min-height: 140px;
}
.profile-user .user-title h4,
.profile-user .user-title span.h5 {
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  -webkit-text-shadow: 1px 1px #000;
  -moz-text-shadow: 1px 1px #000;
  text-shadow: 1px 1px #000;
}
.radio.radiofill label {
  margin-bottom: 9px;
}
.radio.radiofill:first-child label {
  margin-bottom: 10px;
}
.cover-btn {
  min-width: 180px;
}
.cover-btn .btn:hover,
.cover-btn .btn:focus {
  border-color: #fff;
}
.profile-user .user-info,
.profile-user .user-title {
  overflow: hidden;
}
.reviews-links a {
  color: #f63740;
}
.profile-user .user-info,
.profile-user .user-title {
  max-width: 100%;
  width: 100%;
}
.jFiler .jFiler-input-choose-btn.btn-primary {
  color: #fff;
  background-color: #223035;
  border-color: #223035;
}
.jFiler .jFiler-input-choose-btn.btn-primary:hover,
.jFiler .jFiler-input-choose-btn.btn-primary:focus,
.jFiler .jFiler-input-choose-btn.btn-primary:active {
  color: #fff;
  background-color: #223035;
  border-color: #223035;
}
.jFiler .jFiler-input-dragDrop {
  border-color: #223035; 
  margin-bottom: 20px;
}
.jFiler .jFiler-input-text span {
  font-size: 14px;
  margin: 10px 0px 14px 0px;
  font-weight: 500;
}
.card .card-header:first-child {
  border-radius: .25rem .25rem 0 0;
}
.jFiler .jFiler-items .jFiler-item-info {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.jFiler .jFiler-items .jFiler-item-title {
  margin-bottom: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.jFiler .jFiler-items .jFiler-item-title b {
  font-weight: 600;
}
.jFiler .jFiler-items .jFiler-items-list {
  margin-left: -8px;
  margin-right: -8px;
}
.jFiler .jFiler-items .jFiler-items-list .jFiler-item {
  padding: 0 8px;
  width: 20%;
}
.jFiler .jFiler-items .jFiler-items-list .jFiler-item-container {
  margin: 8px 0;
}
.jFiler .jFiler-items .jFiler-item-thumb {
  width: 100% !important;
  height: 115px !important;
}



/*
=====================================================
profile
=====================================================
*/












/*
=====================================================
songs list
=====================================================
*/


.songsDropdown-btn {
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-transform: inherit;
  padding: 4px 30px 4px 15px;
  position: relative;
  max-width: 250px;
  width: 100%;
}
.songsDropdown-btn h6 {
  color: #fff;
  font-size: 11px;
  line-height: 15px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.songsDropdown-btn h6.duration {
  margin-bottom: 0;
}
.songsDropdown-btn i.icon-arrow-down {
  position: absolute;
  right: 7px;
  top: 21px;
  font-weight: 700;
  font-size: 1rem;
}
.songsDropdown-btn:focus,
.songsDropdown-btn:active,
.songsDropdown-btn:hover,
.songsDropdown-btn:not(:disabled):not(.disabled):active {
  background-color: transparent;
}
.songsList-container {
  position: fixed;
  left: 240px;
  right: 0px;
  top: 60px;
  bottom: 0;
  z-index: 55;
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#wrapper.toggled .songsList-container {
  left: 0;
} 
.menu-songsList {
  position: fixed;
  left: 250px;
  right: 10px;
  top: 61px;
  max-height: calc(100% - 71px);
  background-color: #fff;
  overflow: hidden; 
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 12px rgba(34, 48, 53, 0.25); 
  -moz-box-shadow: 0 4px 12px rgba(34, 48, 53, 0.25);
  box-shadow: 0 4px 12px rgba(34, 48, 53, 0.25);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#wrapper.toggled .menu-songsList {
  left: 10px;
}
.menu-songsList .songsList-inner {
  max-height: calc(100vh - 7rem);
  overflow-y: auto;
}
.card-songsList {
  background-color: transparent;
  box-shadow: none;
}
.songs-list .song-img {
  width: 70px;
  min-width: 70px;
}
.songs-list .song-img img {
  max-width: 100%;
}
.songs-list .song-descrip .sd-f {
  min-width: 75px;
  margin-right: 5px;
}
.songs-list .song-options .song-options-link {
  color: #223035;
  font-size: 1.4rem;
}
.songs-list {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.songs-list:hover,
.songs-list.active {
  background-color: rgba(204, 204, 204, 0.22);
}
.songOptions-dropdown a:after {
  display: none;
}
.songOptions-dropdown .dropdown-menu {
  transform: inherit !important;
  left: inherit !important;
  right: 10px;
  border: 1px solid #ccc;
  top: 40px !important;
  -webkit-box-shadow: 0 4px 12px rgba(34, 48, 53, 0.25);
  -moz-box-shadow: 0 4px 12px rgba(34, 48, 53, 0.25);
  box-shadow: 0 4px 12px rgba(34, 48, 53, 0.25);
}
.songOptions-dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: .70rem 1.25rem;
}
.songOptions-dropdown .dropdown-menu .dropdown-item:active,
.songOptions-dropdown .dropdown-menu .dropdown-item:focus,
.songOptions-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #223035;
  color: #fff;
}
.card-songsList .songs-list:last-child {
  border-bottom: 0;
}
.card-songsList {
  -webkit-box-shadow: 0 4px 12px rgba(34, 48, 53, 0.25);
  -moz-box-shadow: 0 4px 12px rgba(34, 48, 53, 0.25);
  box-shadow: 0 4px 12px rgba(34, 48, 53, 0.25);
}



/*
=====================================================
songs list
=====================================================
*/
















.table-dark a.btn-white,
a.btn-white {
  color: #223035;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
}
.table-dark a.btn-white:hover,
a.btn-white:hover,
.table-dark a.btn-white:focus,
a.btn-white:focus {
  border-radius: 4px;
  box-shadow: none !important;
  outline: none !important;
}







/*
=====================================================
media queries
=====================================================
*/




@media only screen and (max-width: 1200px) {
  .jFiler .jFiler-items .jFiler-items-list .jFiler-item {
    width: 25%;
  }
}
@media only screen and (max-width: 991px) {
  .profile-user .profile-user-inner {
    top: 0;
  }
  .cover-profile .profile-bg-img {
    height: 290px;
  }
  .jFiler .jFiler-items .jFiler-items-list .jFiler-item {
    width: 33.33%;
  }
}
@media only screen and (max-width: 800px) {
  .jFiler .jFiler-items .jFiler-items-list .jFiler-item {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .content-wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-top: 80px;
  }
  .card-allRelease .table-dark .table {
    background-color: initial;
  }
  .card-allRelease .table-dark .table tr:nth-of-type(3),
  .card-allRelease .table-dark .table tr:nth-of-type(4) {
    display: table-cell;
    width: 50%;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    background-color: rgba(255, 255, 255, .05) !important;
  }
  .card-allRelease .table-dark .table tr:nth-of-type(3) td,
  .card-allRelease .table-dark .table tr:nth-of-type(4) td {
    border-top: 0;
  }
  .card-allRelease .table-dark .table tr:nth-of-type(3) th,
  .card-allRelease .table-dark .table tr:nth-of-type(4) th {
    display: none;
  }
  .jFiler .jFiler-items .jFiler-items-list .jFiler-item {
    width: 33.33%;
  }
  .songsList-container {
    left: 0;
  }
  .menu-songsList {
    left: 10px;
  }
  .songs-list .song-descrip .sd-f {
    min-width: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .jFiler-input-dragDrop {
    width: 100% !important;
  }
  .card .card-header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .card .card-body {
    padding: 1rem;
  }
  .jFiler .jFiler-items .jFiler-items-list .jFiler-item {
    width: 50%;
  }
  .songOptions-dropdown .dropdown-menu {
    left: 0 !important;
  }
}
@media only screen and (max-width: 400px) {
  .jFiler .jFiler-items .jFiler-items-list .jFiler-item {
    width: 100%;
  }
}
