<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag  "client", :media => "all" %>
    <link href="/s92/css/font-awesome.min.css" rel="stylesheet">
    <%= javascript_include_tag  "client", "data-turbolinks-track" => true  %>

    <title>Jowabo - Responsive Website</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
  </head>
  <body style="background-color: #212d3b">
    <div class="wrapper">
      <div class="section-form-register">
      <%= yield %>

      </div><!-- /.section-form-register -->
    </div><!-- /.wrapper -->
  <%= yield :js %>
  </body>
</html>
